<div class="menu">
  <form class="custom-form" method="post">
    <h1>Menu</h1>
    <nav>
      <br>
      <button  class="login-btn" routerLink="/obra">Generar Obra</button>
      <br>
      <button  class="login-btn" routerLink="/informacion">Generar Información de Viga</button>
      <br>
      <button  class="login-btn" routerLink="/consultas">Consultas</button>
      <br>
      <button class="login-btn" routerLink="/listado">Mostrar Obras y Vigas</button>
      <br>
      <button class="login-btn" routerLink="/register">Registro de Usuario</button>
      <br>
      <button class="login-btn" routerLink="/empleado">Registro de Empleados</button>
      <br>
    </nav>
  </form>
  <p-button label="Cerrar Sesion" (onClick)="handleLogOut()" styleClass="p-button-link"></p-button>
</div>
