<div class="menu">
    <form class="custom-form" method="post">
      <h1>Menu</h1>
      <nav>
        <br>
        <button type="submit" class="login-btn" routerLink="/obra">Generar Obra</button>
        <br>
        <button type="submit" class="login-btn" routerLink="/informacion">Generar Infromación de Viga</button>
        <br>
        <button type="submit" class="login-btn" routerLink="/consultas">Consultas</button>
        <br>
        <button type="submit" class="login-btn" routerLink="/register">Registro de Usuario</button>
        <br>
        <button type="submit" class="login-btn" routerLink="/empleado">Registro de Empleados</button>
        
  
      </nav>
    </form>
  </div>