<div class="w3-container">
    <form class="custom-form" method="post">
      <h1>Información</h1>
      <br>
      <span>Clave de obra:</span>
      <input type="id" name="clvObra" placeholder="Clave de obra" required="required" />
      <span>Clave de la Viga:</span>
      <input type="id" name="clvViga" placeholder="Clave de la Viga" required="required" />
      <span>Largo de la Viga(mts):</span>
      <input type="number" name="largoViga" placeholder="Largo de la Viga" required="required" />
      <span>Peso de la Viga(kg):</span>
      <input type="number" name="pesoViga" placeholder="Peso de la Viga" required="required" />
      <span>Material:</span>
      <input type="text" name="material" placeholder="Material" required="required" />
      <span>Número de Empleado:</span>
      <input type="text" name="numEmpleado" placeholder="NumEmpleado" required="required" />
      <span>Fecha de Registro de la Viga:</span>
      <input type="date" name="fechaViga" placeholder="Fecha de Registro de la Viga" required="required" />
  
  
  
      <button type="submit" class="register-btn">Guardar</button>
      <br>
      <button type="submit" class="register-btn" routerLink="/menu">Cancelar</button>
      <br>
      <button type="submit" class="register-btn" routerLink="/codigo-qr">Imprimir código QR</button>
  
    </form>
  </div>