<div class="w3-container">
    <form class="custom-form" method="post">
      <h1>Consultas</h1>
      <br>

      <style>
        .date{
            display: flex;
            justify-content: center;
            margin-right: 10px;
        }
        .text{
            display: flex;
            justify-content:space-around;
            margin-right: 10px;
        }
        
      </style>

      <div class="text">
      <label>Fecha de inicio:</label>                                          
      <label>Fecha final:</label>
      </div>

      <div class="date">
      <!-- <span>Fecha de inicio:</span> -->
      <input type="date" name="fechaInicio" placeholder="Fecha inicial" required="required" />
      <!-- <span>Fecha final:</span> -->
      <input type="date" name="fechaFinal" placeholder="Fecha final" required="required" />
      </div>

      <span>Total de Piezas:</span>
      <input type="number" name="totalPiezas" placeholder="Total de Piezas" required="required" />
      <span>Total de Kilos:</span>
      <input type="number" name="totalKilos" placeholder="Total de Kilos" required="required" />
      <span>Total de Kilos por Material:</span>
      <input type="number" name="kgMaterial" placeholder="Total de Kilos por Material" required="required" />
      <span>Total de Kilos en Armado:</span>
      <input type="number" name="kgArmado" placeholder="Total de Kilos en Armado" required="required" />
      <span>Total de Kilos en Soldado:</span>
      <input type="number" name="kgSoldado" placeholder="Total de kilos en Soldado" required="required" />
      <span>Total de Kilos en Pulido:</span>
      <input type="number" name="kgPulido" placeholder="Total de kilos en Pulido" required="required" />
      <span>Total de Kilos en Limpieza:</span>
      <input type="number" name="kgLimpieza" placeholder="Total de Kilos en Limpieza" required="required" />
      <span>Total de Kilos en Pintura:</span>
      <input type="number" name="kgPintura" placeholder="Total de kilos en Pintura" required="required" />
      
      
  
  
  
      <button type="submit" class="register-btn">Guardar</button>
      <br>
      <button type="submit" class="register-btn" routerLink="/menu">Cancelar</button>
      <br>
      <!-- <button type="submit" class="register-btn" >Imprimir código QR</button> -->
  
    </form>
  </div>