<div class="w3-container">
    <form class="custom-form" method="post">
      <h1>Generar Obra</h1>
      <br>
      <span>Clave de obra:</span>
      <input type="id" name="clvObra" placeholder="Clave de obra" required="required" />
      <span>Nombre de la Obra:</span>
      <input type="text" name="nomObra" placeholder="Nombre de la Obra" required="required" />
      <span>Número de Empleado:</span>
      <input type="number" name="numEmpleado" placeholder="Número de Empleado" required="required" />
      <span>Cantidad de Vigas:</span>
      <input type="number" name="cantidadVigas" placeholder="Cantidad de Vigas" required="required" />
      <span>Fecha de Registro de Obra:</span>
      <input type="date" name="fechaObra" placeholder="Fecha de Registro de Obra" required="required" />
  
  
  
      <button type="submit" class="register-btn">Guardar</button>
      <br>
      <button type="submit" class="register-btn" routerLink="/menu">Cancelar</button>
      <br>
      <button type="submit" class="register-btn" routerLink="/codigo-qr">Imprimir código QR</button>
  
    </form>
  </div>